* {
	/* Para definir que el alto y el ancho de
	   todos los elementos incluyen el padding y el borde */
	box-sizing: border-box;
}

body {
	/* El navegador pone un margin por defecto al body, se lo quitamos */
	margin: 0;

	/* Usamos la fuente importada desde google fonts */
	font-family: "Azeret Mono", monospace;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;

	/* Aplicamos un color de fondo fijo, pero el fondo visible será el linear-gradient
	   con el background-image*/
	background-color:  rgb(15, 34, 34);
	background-image: linear-gradient(darkslateblue, aqua);
	background-repeat: no-repeat;

	/* Convertimos el  body en un contenedor flex para poder alinear los elementos */
	display: flex; 
	flex-direction: column;
	min-height: 100vh;
}

#header {
	padding: 10px;
	margin-top:10px;
	text-align: center;
}

#spongebob {
	max-width: 740px;
}

#main {
	/* Hacemos crecer a este contedor ocupar el espacio disponible del padre (el body) */
	flex-grow: 1;

	/* Usamos flex para centrar el contenido.
	   Ver: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	padding: 40px;
}

.cards {
	display: flex;
	flex-direction: row;
	gap: 12px;
}

.cards .card{
	display: flex;
	background-color: bisque;

	/*grow, shrink y basis: Crece y encoge lo que puedas, 
	  y el tamaño inicial de un elemento que sea 1/3*/
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 33.33%;

	flex-direction: column;
	align-items: center;
	padding: 5px;
	gap: 5px;
	border-radius: 7px;

}

.card .question{
	display: flex;
	justify-content: center;
	align-items: center;

	text-align: center;
	font-size: 1.3em;
	padding: 5px;
	min-height:100px;
}

.card img{
	max-width: 200px;
}

.card .options{
	/*como el elemento padre alinea todo al centro, le indicamos
		que se éste elemento se alinee a la izquierda. Razón: como el
		contenedor flex padre es columna, el texto empieza por la izquierda*/
	align-self: flex-start;
	flex-grow: 1;
	margin: 5px;
}

.card .answer{
	background-color: rgba(128, 218, 114, 0.454);
	text-align: center;
	padding: 5px 10px;
	border-radius: 8px;

}

/*Si está vacío, lo ocultamos*/
.card .answer:empty {
	display: none;
}

.btn{
	background-color: goldenrod;
	border: none;
	border-radius: 8px;
	text-align: center;
	font-family: "Azeret Mono", monospace;
	font-size: 1em;
	margin: 15px;
	padding: 10px;

	/*para que transicione de color con el hover 
	  y que al pasar el ratón por encima cambie el cursor*/
	transition-duration: 0.3s;
	cursor: pointer;
}

.btn:hover{
	background-color: rgb(128, 218, 114);
}

#catCat:empty {
	display: none;
}

#footer {
	/* Usamos flex para alinear el contenido a la derecha y espaciarlo
		en caso de que haya más de un elemento, con space-between*/
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	align-items: center;

	padding: 10px 20px;
	color:antiquewhite;
	background-color: rgb(15, 34, 34);
	text-align: right;
}

#footer a {
	text-align: center;
	color: aliceblue;	
}